extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p Mock api docs 
    dl
      dt 
        a(href="/mock-api/v0.6") v0.6
        span.lightGrey  - updated 13 Oct 2015

      dt 
        a(href="/mock-api/v0.5") v0.5
        span.lightGrey  - updated 12 Oct 2015

      dt 
        a(href="/mock-api/v0.4") v0.4
        span.lightGrey  - updated 9 Oct 2015

      dt 
        a(href="/mock-api/v0.3") v0.3
        span.lightGrey  - updated 18 Sep 2015

      dt 
        a(href="/mock-api/v0.2") v0.2
        span.lightGrey  - updated 15 Sep 2015
  

      dt 
        a(href="/mock-api/v0.1") v0.1
        span.lightGrey  - updated 7 Sep 2015