doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/mock-api.css')
    script(src="/javascript/jquery-2.1.4.min.js")
    script(src="/javascript/mock-api.js")

  body
    block content
