extends layout

block content
  h1= title
  p Welcome to #{title}
    i.lightGrey  (last updated Sep 7 2015)


  h2 Available API
  dl

    dt Login Api
    dd 
      a(href="#{api}/login") /login

    dt Listing of all available Events
    dd 
      a(href="#{api}/event") /event


    dt Listing of all available Booths
    dd 
      a(href="#{api}/booth") /booth


    dt Listing of Attendees
    dd 
      a(href="#{api}/attendee") /attendee


    dt Recommended Booths for attendee
    dd 
      a(href="#{api}/attendee/rec_booth") /attendee/rec_booth      


    dt Populate Interests
    dd 
      a(href="#{api}/attendee/interest") /attendee/interest      