extends mock-api-layout-index



block content





  h1= title
  p Welcome to #{title}
    i.lightGrey  (last updated 13 Oct 2015)


  h2 Possible API Calls | #[a(href="#errors") Status/Error Types] |  #[a(href="#changelog") Change Log]


  //  register, login, events, 



  h3 
    a(href="#{api}/login") /login 
    sup No Token

  +code('login',  'object', ['username', 'password'])
 
  p Initial log-in call. Returns single object. Login token will reset after 24hrs. Only accepts POST. 



  h3 
    a(href="#{api}/events") /events
    sup No Token

  +code('events',   'array')
  p Listing of all available Events. Returns array of objects. Only accepts POST. 



  // Start of Event api

  div.tabBox

    div.tabContent

      h3 
        a(href="#{api}/event" alt="Event Details") /event

      +code('event',   'object', ['_id', 'token'])
      p  Return a single event's data.  


    div.tabContent
      h3 
        a(href="#{api}/event/create" alt="Create Event") /event/create

      +code('event-create', 'object', ['name', 'description', 'token'], ['thumbnail'])
      
      p Create single event. Other optional data can be passed in also. Only accepts POST. Returns event data object.
        br
        i.lightGrey todo: Add role permissions details



    div.tabContent
      h3 
        a(href="#{api}/event/update" alt="Update Event") /event/update

      +code('event-update', 'object', ['_id', 'token'], [ 'description', 'thumbnail', '..'])
      
      p Update single event data. Only accepts POST. Returns event data object.
        br
        i.lightGrey todo: Add authorisation / role permissions details



    div.tabContent
      h3 
        a(href="#{api}/event/delete" alt="Delete Event") /event/delete
 
      +code('event-delete', 'object', ['_id', 'token'])
      
      
      p Delete an event. Only Org Admin or Super Admin roles. Only accepts POST. Returns event data object.
        br
        i.lightGrey todo: Add authorisation / role permissions details



  // End of event api


  // attendee, event, booth 


  div.tabBox

    div.tabContent
      h3 
        a(href="#{api}/attendee" alt="Attendee Details") /attendee

      +code('attendee', 'object' , ['_id', 'token'])
      

      p Return a single attendee's data. Returns single object. Only accepts POST. 


    div.tabContent
      h3 
        a(href="#{api}/attendee/create" alt="Register Attendee") /attendee/create
        sup no token


      +code('attendee-create', 'object' , ['username', 'password', 'email'], ['..', '..'])
      

      
      p Create single attendee. Username, password & email are required. Other optional data can be passed in also. Only accepts POST. Returns attendee data object.
        br
        i.lightGrey todo: Add role permissions details



    div.tabContent
      h3 
        a(href="#{api}/attendee/update" alt="Update Attendee") /attendee/update

      +code('attendee-update', 'object', ['_id', 'token'], ['..', '..'])
      
      p Update single attendee data. Only accepts account owner or higher roles can edit account. Only accepts POST. Returns attendee data object.
        br
        i.lightGrey todo: Add authorisation / role permissions details



    div.tabContent
      h3 
        a(href="#{api}/attendee/delete" alt="Delete Attendee") /attendee/delete

      +code('attendee-delete', 'object', ['_id', 'token'])

      
      p Delete single attendee. Only Org Admin or Super Admin roles. Only accepts POST. Returns attendee data object.
        br
        i.lightGrey todo: Add authorisation / role permissions details


  h3 
    a(href="#{api}/attendees") /attendees

  +code('attendees-list', 'array', ['token'])

  p Listing of all available Attendees. Returns array of objects. Only accepts POST. 



  div.tabBox

    div.tabContent
      h3 
        a(href="#{api}/booth" alt="booth Details") /booth

      +code('booth', 'object', ['_id', 'token'])  
      
      p Return a single booth's data. Returns single object. Only accepts POST. 


    div.tabContent
      h3 
        a(href="#{api}/booth/create" alt="Create Booth") /booth/create

      +code('booth-create', 'object', ['name', 'description', 'token'], ['thumbnail'] )  

      p Create a booth. Name, description & token are required. Other optional data can be passed in also. Only accepts POST. Returns booth data object.
        br
        i.lightGrey todo: Add role permissions details



    div.tabContent
      h3 
        a(href="#{api}/booth/update" alt="Update Booth") /booth/update

      +code('booth-update', 'object',['_id','token'],['..','..'])  
      
      p Update single booth data.Only accepts POST. Returns booth data object.
        br
        i.lightGrey todo: Add authorisation / role permissions details



    div.tabContent
      h3 
        a(href="#{api}/booth/delete" alt="Delete Booth") /booth/delete

      +code('booth-delete', 'object', ['_id', 'token'])  
      
      p Delete a booth. Only Org Admin or Super Admin roles. Only accepts POST. 
        br
        i.lightGrey todo: Add authorisation / role permissions details




  h3 
    a(href="#{api}/booths") /booths

  +code('booths', 'array', ['token'])

  p Listing of all available Booths. Returns array of objects. Only accepts POST. 

  //-


  p  

  h2 
    a.nolink(name="errors") Possible Status or Error Types


  h3 Status 200: OK

  div.functionArgs
    code!= JSON.stringify({res1:'[ ... ]', res2: '{ ... }'}, null, 4)

  p Success! Results are returned directly.



  h3 Status 400: Bad Request

  div.functionArgs
    - var obj = { error: 400, user_friendly: "An error occurred. The dragon ate the kitten." , message: '400 - Bad Request. Blaargh was not found in your request.', data: { debugData: [ '...'] } }
    code!= JSON.stringify(obj, null, 4)

  p The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.




  h3 Status 401: Unauthorised

  div.functionArgs
    - var obj = { error: 401, user_friendly: "Login error. Please check your username and password." , message: '401 - Unauthorized. Show me the money!', data: { debugData: [ '...'] } }
    code!= JSON.stringify(obj, null, 4)

  p The request requires user authentication. Authentication was not provided, or failed.



  h3 Status 403: Forbidden

  div.functionArgs
    - var obj = { error: 403, user_friendly: "You do not have access permission." , message: '403 - Forbidden. Muggles are not allowed in Hogwarts!', data: { debugData: [ '...'] } }
    code!= JSON.stringify(obj, null, 4)

  p This request is not allowed and should not be repeated, even if authentication was provided.




  h3 Status 404: Not Found

  div.functionArgs
    - var obj = { error: 404, user_friendly: "Oops. The data you tried to access is not available. Try again, or contact admin for help." , message: '404 - Not Found. There is nothing, nothing!', data: { debugData: [ '...'] } }
    code!= JSON.stringify(obj, null, 4)

  p Server did not find anything matching the request.




  h3 Status 409: Conflict

  div.functionArgs
    - var obj = { error: 404, user_friendly: "Oops. Server encountered an issue. Try again, or contact admin for help." , message: '409 - Conflict Occurred. The database died and went to hell.', data: { debugData: [ '...'] } }
    code!= JSON.stringify(obj, null, 4)

  p Indicates that the request could not be processed because of conflict in the request, such as an edit conflict.


  h3 Status 500: Internal Server Error

  div.functionArgs
  
    code!= JSON.stringify( ['....'], null, 4)

  p The general catch-all error when the server-side throws an exception, given when no more specific message is suitable.

 

  p 
  p 
 






  h2
    a.nolink(name="changelog") Changes from previous version 


  h3 changelog v0.5 to 0.6

  ul
    li #[b /booth ] - Result: Updated the floorplan syntax



  h3 changelog v0.4 to 0.5

  ul
    li #[b Error/Status codes ] - Added code 500
    li #[b attendee[s] ] - Attendees don't have event registration data
    li #[b event ] - Added floorplans
    li #[b attendee  ] - Added country, phone
    li #[b attendee  ] - Removed attendance_no 
    li #[b attendee/delete, event/delete, booth/delete, ] - Fixed the results 
    li #[b booth ] - Added event_id ,image ,address ,email ,phone ,url ,title ,floorplan, floorplan_id, floorplan_label, floorplan_url, coord_x, coord_y     

  h3 changelog v0.3 to 0.4

  ul
    li #[b /login] - Request: param #[b email ] changed to #[b username ]
    li #[b /login] - Result: param #[b sessionid ] changed to #[b token ]    
    li #[b /login] - Result: event specific data like 
      | "interests", "enable_networking" etc are moved into #[b event_registration_data].
    li #[b /login] & #[b /attendee] - Moved tags like interests & shows into attendee's data. 
    li #[b /login] & #[b /attendee] - Moved recommended_booths into attendee's data.
    li #[b /events] - Request: param #[b token ] param removed
    li #[b /events] - Result: removed #[b skip_interest ] param 
    li #[b All Calls] - Request: param #[b session_id] standardised to #[b token]
    li #[b All Calls] - Result: param #[b id] standardised to #[b _id]
    li #[b Error/Status codes ] - Updated to HTTP codes




mixin code(name,  returns, takes, options)
  
  div.functionArgs 
    span.type=  returns
    |  
    span= name 
    | 
    span.char ( 


    if typeof takes != "undefined" && takes.length > 0 

      span!= takes.join('<span class="char">,</span> ')

        
    if typeof options  != "undefined" && options.length > 0

      span.char  [, 
      span
          i!= options.join('<span class="char">,</span> ')
      span.char  ] 

    span.char  )
     
