extends mock-api-layout-index

block content
  h1= title
  p Welcome to #{title}
    i.lightGrey  (last updated Sep 18 2015)


  h2 Possible API Calls | 
    a(href="#errors") Error Types





  div.tabBox

    div.tabContent
      h3 
        a(href="#{api}/login") /attendee

      div.functionArgs 
        span.type object 
        span attendee 
        span.char ( 
        span.type string 
        span $attendee_id
        span.char , 
        span.type string 
        span $session_id 
        span.char  )
      
      p Return a single attendee's data. Returns single object. Only accepts POST. 


    div.tabContent
      h3 
        a(href="#{api}/login") /attendee/create

      div.functionArgs 
        span.type object 
        span attendee 
        span.char ( 
        span.type string 
        span $email
        span.char , 
        span.type string 
        span $password
        span.char , 
        span.type string 
        span $session_id     
        span.char  [, 
        span.type string 
        span 
          i $data_1
        span.char , 
        span.type string 
        span 
          i $data_2 
          ]         
        span.char  )
      
      p Create single attendee. Email and password are required. Other optional data can be passed in also. Only accepts POST. Returns attendee data object.
        br
        i.lightGrey todo: Add role permissions details



    div.tabContent
      h3 
        a(href="#{api}/login") /attendee/update

      div.functionArgs 
        span.type object 
        span attendee 
        span.char ( 
        span.type integer 
        span $attendee_id
        span.char , 
        span.type string 
        span $session_id     
        span.char  [, 
        span.type string 
        span 
          i $data_1
        span.char , 
        span.type string 
        span 
          i $data_2 
          ]         
        span.char  )
      
      p Update single attendee data. Only accepts account owner or higher roles can edit account. Only accepts POST. Returns attendee data object.
        br
        i.lightGrey todo: Add authorisation / role permissions details



    div.tabContent
      h3 
        a(href="#{api}/login") /attendee/delete

      div.functionArgs 
        span.type object 
        span attendee 
        span.char ( 
        span.type integer 
        span $attendee_id
        span.char , 
        span.type string 
        span $session_id     
        span.char  [, 
        span.type string 
        span 
          i $data_1
        span.char , 
        span.type string 
        span 
          i $data_2 
          ]         
        span.char  )
      
      p Update single attendee data. Only Org Admin or Super Admin roles. Only accepts POST. Returns attendee data object.
        br
        i.lightGrey todo: Add authorisation / role permissions details





  h3 
    a(href="#{api}/login") /login

  div.functionArgs 
    span.type object 
    span login 
    span.char ( 
    span.type string 
    span $email
    span.char , 
    span.type string 
    span $password 
    span.char  )
  
  p Initial log-in call. Returns single object. Login token will reset after 24hrs. Only accepts POST. 


  h3 
    a(href="#{api}/events") /events

  div.functionArgs 
    span.type array 
    span events 
    span.char ( 
    span.type string 
    span $session_id
    span.char  )
  
  p Listing of all available Events. Returns array of objects. Only accepts POST. 


  h3 
    a(href="#{api}/booths") /booths

  div.functionArgs 
    span.type array 
    span events 
    span.char ( 
    span.type string 
    span $session_id
    span.char  )
  
  p Listing of all available Booths. Returns array of objects. Only accepts POST. 


  h3 
    a(href="#{api}/attendees") /attendees

  div.functionArgs 
    span.type array 
    span events 
    span.char ( 
    span.type string 
    span $session_id
    span.char  )
  
  p Listing of all available Attendees. Returns array of objects. Only accepts POST. 








  h3 
    a(href="#{api}/attendee/recommended_booths") /attendee/recommended_booths

  div.functionArgs 
    span.type array 
    span events 
    span.char ( 
    span.type string 
    span $session_id
    span.char  )
  
  p Recommended Booths for attendee. Returns array of objects. Only accepts POST. 



  h3 
    a(href="#{api}/attendee/interests") /attendee/interests

  div.functionArgs 
    span.type object 
    span events 
    span.char ( 
    span.type string 
    span $session_id
    span.char  )
  
  p Interests of the Attendee. Returns a single object. Only accepts POST. 

  p  

  h2 
    a.nolink(name="errors") Possible Error Types

  h3 Error Type 1: Invalid Request 

  div.functionArgs
    code
      | { 
      |    "error_code": 1, 
      |    "message": "Missing profile ID", 
      |    "json_data": {..} 
      | }  
  p Most common general error type that can be thrown.
  
  h3 Error Type 9: Session Expired Or Missing Token

  div.functionArgs
    code
      | { 
      |    "error_code": 9, 
      |    "message": "Token is missing/wrong/expired", 
      |    "json_data": {..} 
      | }  
  p Session timeout or session id was missing in the request. Client should redirect to login page on this error.  





