body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

/*  background-color: #f2f2f2; */
  background-color: #e3e3ef;
  color:#333;
}

a {
  color: #369;
  border-bottom: 1px dotted #999;
  text-decoration: none; 
}

a.nolink{
  border-bottom: 0px dotted #999;
}


.lightGrey {
  color:#999;
}

h1, h2, h2 a.nolink {
  border-bottom: 0px solid #ff0000;
  color:  #793862;
}

h3 {
  border-top: 1px dotted #793862;
  padding-top: 25px;
  margin-top: 30px;
}

h3.first {
  border-top: 0px solid #ff0000;

}

.functionArgs{
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  color: #369;
  font-size: 1.1em;
}

.functionArgs .type {
  color: #693;
}

.functionArgs .char {
  color: #CF7A7A;
}

code{white-space: pre-wrap;}

.tabBox {
    border-top: 1px dotted #793862;  
    margin-bottom: 2em;
    margin-top: 2.3em;
    padding-top: 1.6em;  
}

.tab {
    background-color: #6e98e4;
    display: inline-block;
    text-transform: uppercase;
    color: #ECEFF4;
    margin: 0 0.45em ;
    font-size: 0.9em;
    padding: 1em 1em;
    width: 12em;
    text-align: center;
}

.tabBox .functionArgs {
  background-color: #F8F7F7;
}


.tab.active {
    background-color: #fff;
    color: #848484;
    -webkit-box-shadow: 0.6em 0.2em 0 -0.2em #ccc;
    margin-right: 0.75em;
    padding-top: 2em;
}

.tab.active span{
    position: relative;
    top: -5px;
}

.tab.first{
  margin-left: 0em;
}

.tab sup {
  font-size: 1em;
    color: #FFFFFF;
    padding-left: 0.4em;
    font-weight: normal;
    text-transform: uppercase;
}

.tab.active sup{
  color: #55AA32;
  position: relative;
  top: -5px;
}

.tabContent {
  background-color: #fff;
  padding: 1em;
  margin-top:0.02em;
  -webkit-box-shadow: 0.6em 0.2em 0 -0.2em #ccc;
}

.tabContent h3{
  margin-top: 0em;
  border: 0px solid #ff0000;
  padding-top:0.5em;
}


sup{
      font-size: 0.6em;
    color: green;
    padding-left: 0.4em;
    font-weight: normal;
    text-transform: uppercase;
}



